*{
  margin: 0; 
  padding: 0;
  
}
.harsh {
  background-color: bisque;
  z-index: 0;
  margin: 0; 
  padding: 0;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

#ok{
  margin-top: 1px;
  z-index: 1;
  height: 25px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.ha{
  background-color: rgba(0, 0, 0, .7);
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ik{
  background-color: transparent;
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}
#click{
  height: 30px;
  width: 100px;
  margin-top: 30px;
  border-radius: 10px;
}

#slogin{
  margin-bottom: 30px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
#remforget{
  display: flex;
  color: white;
  background-color: transparent;
  height: 25px;
  width: 300px;
  justify-content: space-between;
  align-items: center;

}
#me{
  color: white;
  text-decoration: none;
  
}
#rem{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#line{
  width: 600px;
  margin-top: 20px;
}
#college{
  margin-bottom: 30px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}